<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16861782162-g2a9c4m621c5igqv175kkgh8r0ad354s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16861782162-g2a9c4m621c5igqv175kkgh8r0ad354s</string>
	<key>API_KEY</key>
	<string>AIzaSyC5cgsFyWME6MWpKPxm88LVcrcRAyxGsRw</string>
	<key>GCM_SENDER_ID</key>
	<string>16861782162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Wilson.pruebaSpira</string>
	<key>PROJECT_ID</key>
	<string>pruebaspira-fa76a</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebaspira-fa76a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16861782162:ios:214c460419cdf67532c64b</string>
</dict>
</plist>